body{
    width: 100%;
    background-image: url(./myLOGO-removebg-preview.png);
    background-color: #ddd4e6 !important;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

#mybox{
    width: 35%; 
    background-color:#ede9f3 ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border-top: 2px solid #40196D;
    border-left: 2px solid #40196D;
    box-shadow: 10px 10px 10px #514a5a;    
}
@media screen and (max-width:800px) {
    div{
        width: 85% !important
    }
} 


