#main{
    background-color: #f2eafa;
}
#topnav{
    background-color: oldlace;
    position: sticky;
    top: 0;  
    z-index: 10;   
}
#navbarNavAltMarkup a{
    color: #40196D;
}
#nav1btn{
    background-color:  #40196D;
}
#herotxt{
    font-family: 'Franklin Gothic Medium';
    font-size: 2.5rem;
    color: #40196D;
}
#inviteDiv{
    width: 100%;
    background-color: oldlace;
    position: sticky;
    bottom:0;
    z-index: 10;
}
.mycolor{
    color: #40196D;
}
#footBox{
    background-image: url(./animate-8.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.fa{
    color: #40196D;
}
@keyframes translate {
    0% {
        transform: translate(100%,0);
    }

    100% {
        transform: translate(5%, 0);
    }
} 
#animateBox{
    animation-name: translate;
    animation-duration: 2000ms;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-delay:0ms;
}
@media screen and (max-width:800px) {
    #hideImg{
        display:none;
    }

    #footBox{
        background-image: url();
        width: 95% !important;
        height: auto !important;
    }
    #rows{
        margin-top: 1em !important;
        margin-bottom:1em !important;
    }
    #textbox{
        text-align: center;
        padding: 1.2em !important;
        /* padding-right: 1.2em !important;  */
      
    }
    #herotxt{
        font-size: 1.8rem;
    }
}