body{
    background-image: url(./animate-8.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment:fixed;
    background-color: #dfd1ed !important;
}
#topsec{
    background-color: #512d79;
    color: white;
    padding: 1em;
}
@media screen and (max-width:600px) {
    #topsec p{
       font-size: medium !important; 
    }
}
#namebox{
    position: sticky;
    top: 0;
    background-color: #512d79;
    color: white;
}
#mainsec{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 15px;
}
@media screen and (max-width:1100px) {
    #mainsec{
        grid-template-columns: repeat(3, 1fr); 
        justify-content: center;   
    }
}
@media screen and (max-width:600px) {
    #mainsec{
        grid-template-columns: repeat(2, 50%); 
        justify-content: center;   
    }
}
.sec{
    /* background-color: #917ea7; */
    background-color: white;
    color: #512d79;
    border-radius: 10px;
    height: 30vh;  
}
.sec button{
    color: #512d79; 
}
@media screen and (max-width:600px) {
    .sec{
        height: 21vh;  
    }
    .sec button{
        font-size: small !important;
    }
}
.sec:hover{
    background-color: #40196D;
    color: white;
}
/* for other pages */
#dashbdbox{
    background-color: #512d79;
    color: white;
}
@media screen and (max-width:1100px) {
    #dashbdbox{
       width: 70% !important;
    }
}
@media screen and (max-width:800px) {
    #dashbdbox{
       width: 90% !important;
    }
}



